beautifulsoup4>=4.9.3
colorama>=0.4.4
pydantic>=1.8.1
requests>=2.32.2
typer[all]>=0.3.2
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
